.realisation-hero {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("images/pkmTCG/pkmTCGGeneral.png") no-repeat;
    background-size: cover;
    padding: 2rem;
    position: relative;
    z-index: 2;
    text-align: center;
}
